<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- IMPORTED d3.js V6 -->
        <script src="https://d3js.org/d3.v6.js"></script>
        <!-- IMPORTED BOOTSTRAP DEMO -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    </head>
 

    <body>
        <!-- WEBPAGE HEADER -->
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 pe-2 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Breast Cancer Detection app</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://127.0.0.1:5000/" class="nav-link" aria-current="page">API Home</a></li>
                <li class="nav-item"><a href="http://127.0.0.1:5000/api/index/" class="nav-link active" aria-current="page">Dashboard</a></li>
            </ul>
        </header>

        <!-- MAIN HERO, COPY, AND FACT 1 -->
        <div class="container-lg">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3">
                <div class="col-lg-1 p-3 p-lg-5 pt-lg-3">
                    <a href="https://www.freepnglogos.com/pics/breast-cancer-ribbon" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/breast-cancer-ribbon-png/breast-cancer-ribbon-specials-honor-breast-cancer-awareness-month-9.png" width="100" alt="breast cancer ribbon specials honor breast cancer awareness month" /></a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Welcome to the <br>Breast Cancer Prediction app!</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <p class="lead">Your patient has a breast tumor or a mass that has been <i>growing</i>, and it just isn't possible for them to have more tests done to confirm or rule out cancer for any reason: maybe your patient is uninsured and unfortunately can't cover the costs, maybe the health system is overstretched or maybe it will just take a long while to get those results and you need to be quicker...</p><br>
                <!-- FACT 1: EARLY DETECTION IMPROVES SURVIVAL RATES -->
                <div class="container-lg my-3 text-end rounded-circle">
                    <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg" style="--bs-danger-bg-subtle: pink; background-color: var(--bs-danger-bg-subtle);">
                        <div class="col-sm-3 p-2 p-lg-4">
                            <img src="/static/images/faster-icon.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg p-2 p-lg-4 center">
                            <h3>Since early detection improves survival rates:</h3>
                            <div class="row">
                                <div class="col">
                                    <p>This app makes that process much faster. Time is of the essence!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <p class="lead"><strong>This app helps you screen cancerous cells!</strong> It uses a Machine Learning algorithm of <i>random forests</i> that was trained with data from the University of California Irvine, which contained different characteristics of patients' tumors and a confirmed result. Hence, this app can predict whether your patient's tumor or mass is benign or malignant.</p>
                <div class="d-grid gap-3 d-md-flex justify-content-md-center mb-2 mb-lg-1">
                </div>
            </div> 
        </div>
        <br>

        <!-- INPUT FORM AND 'SUBMIT' & 'NEW PREDICTION' BUTTONS -->
        <div class="container-lg border-top border-2">
            <div class="row text-center">
                <p style="--bs-danger-bg-subtle: pink; background-color: var(--bs-danger-bg-subtle);"><strong>Instructions:</strong> please enter the following values and click on <i>Submit</i> to make a prediction based on your patient's tumor.</p>
                <div class="col-4">
                    <div class="row text-center">
                        <h6>MEAN</h6>
                    </div>
                    <div class="row text-start">
                        <form id="form" method="POST">
                            <div class="mb-3">
                                <label for="input_radius_mean" class="form-label">1. Radius mean</label>
                                <input type="number" class="form-control" name="input_radius_mean" step="0.01" {% if input_d %} value="{{input_d.0}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_texture_mean" class="form-label">2. Texture mean</label>
                                <input type="number" class="form-control" name="input_texture_mean" step="0.01" {% if input_d %} value="{{input_d.1}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_perimeter_mean" class="form-label">3. Perimeter mean</label>
                                <input type="number" class="form-control" name="input_perimeter_mean" step="0.01" {% if input_d %} value="{{input_d.2}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_area_mean" class="form-label">4. Area mean</label>
                                <input type="number" class="form-control" name="input_area_mean" step="0.01" {% if input_d %} value="{{input_d.3}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_smoothness_mean" class="form-label">5. Smoothness mean</label>
                                <input type="number" class="form-control" name="input_smoothness_mean" step="0.01" {% if input_d %} value="{{input_d.4}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_compactness_mean" class="form-label">6. Compactness mean</label>
                                <input type="number" class="form-control" name="input_compactness_mean" step="0.01" {% if input_d %} value="{{input_d.5}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concavity_mean" class="form-label">7. Concavity mean</label>
                                <input type="number" class="form-control" name="input_concavity_mean" step="0.01" {% if input_d %} value="{{input_d.6}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concave_points_mean" class="form-label">8. Concave points mean</label>
                                <input type="number" class="form-control" name="input_concave_points_mean" step="0.01" {% if input_d %} value="{{input_d.7}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_symmetry_mean" class="form-label">9. Symmetry mean</label>
                                <input type="number" class="form-control" name="input_symmetry_mean" step="0.01" {% if input_d %} value="{{input_d.8}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_fractal_dimension_mean" class="form-label">10. Fractal dimension mean</label>
                                <input type="number" class="form-control" name="input_fractal_dimension_mean" step="0.01" {% if input_d %} value="{{input_d.9}}" disabled {% endif %} required>
                            </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row text-center">
                        <h6>STANDARD ERROR</h6>
                    </div>
                    <div class="row text-start">
                            <div class="mb-3">
                                <label for="input_radius_se" class="form-label">11. Radius standard error</label>
                                <input type="number" class="form-control" name="input_radius_se" step="0.01" {% if input_d %} value="{{input_d.10}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_texture_se" class="form-label">12. Texture standard error</label>
                                <input type="number" class="form-control" name="input_texture_se" step="0.01" {% if input_d %} value="{{input_d.11}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_perimeter_se" class="form-label">13. Perimeter standard error</label>
                                <input type="number" class="form-control" name="input_perimeter_se" step="0.01" {% if input_d %} value="{{input_d.12}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_area_se" class="form-label">14. Area standard error</label>
                                <input type="number" class="form-control" name="input_area_se" step="0.01" {% if input_d %} value="{{input_d.13}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_smoothness_se" class="form-label">15. Smoothness standard error</label>
                                <input type="number" class="form-control" name="input_smoothness_se" step="0.01" {% if input_d %} value="{{input_d.14}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_compactness_se" class="form-label">16. Compactness standard error</label>
                                <input type="number" class="form-control" name="input_compactness_se" step="0.01" {% if input_d %} value="{{input_d.15}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concavity_se" class="form-label">17. Concavity standard error</label>
                                <input type="number" class="form-control" name="input_concavity_se" step="0.01" {% if input_d %} value="{{input_d.16}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concave_points_se" class="form-label">18. Concave points standard error</label>
                                <input type="number" class="form-control" name="input_concave_points_se" step="0.01" {% if input_d %} value="{{input_d.17}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_symmetry_se" class="form-label">19. Symmetry standard error</label>
                                <input type="number" class="form-control" name="input_symmetry_se" step="0.01" {% if input_d %} value="{{input_d.18}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_fractal_dimension_se" class="form-label">20. Fractal dimension standard error</label>
                                <input type="number" class="form-control" name="input_fractal_dimension_se" step="0.01" {% if input_d %} value="{{input_d.19}}" disabled {% endif %} required>
                            </div>
                    </div>
                </div>
                <div class="col-4">
                    <row class="row text-center">
                        <h6>LARGEST</h6>
                    </row>
                    <row class="row text-start">
                            <div class="mb-3">
                                <label for="input_radius_worst" class="form-label">21. Radius largest</label>
                                <input type="number" class="form-control" name="input_radius_worst" step="0.01" {% if input_d %} value="{{input_d.20}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_texture_worst" class="form-label">22. Texture largest</label>
                                <input type="number" class="form-control" name="input_texture_worst" step="0.01" {% if input_d %} value="{{input_d.21}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_perimeter_worst" class="form-label">23. Perimeter largest</label>
                                <input type="number" class="form-control" name="input_perimeter_worst" step="0.01" {% if input_d %} value="{{input_d.22}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_area_worst" class="form-label">24. Area largest</label>
                                <input type="number" class="form-control" name="input_area_worst" step="0.01" {% if input_d %} value="{{input_d.23}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_smoothness_worst" class="form-label">25. Smoothness largest</label>
                                <input type="number" class="form-control" name="input_smoothness_worst" step="0.01" {% if input_d %} value="{{input_d.24}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_compactness_worst" class="form-label">26. Compactness largest</label>
                                <input type="number" class="form-control" name="input_compactness_worst" step="0.01" {% if input_d %} value="{{input_d.25}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concavity_worst" class="form-label">27. Concavity largest</label>
                                <input type="number" class="form-control" name="input_concavity_worst" step="0.01" {% if input_d %} value="{{input_d.26}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_concave_points_worst" class="form-label">28. Concave points largest</label>
                                <input type="number" class="form-control" name="input_concave_points_worst" step="0.01" {% if input_d %} value="{{input_d.27}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_symmetry_worst" class="form-label">29. Symmetry largest</label>
                                <input type="number" class="form-control" name="input_symmetry_worst" step="0.01" {% if input_d %} value="{{input_d.28}}" disabled {% endif %} required>
                            </div>
                            <div class="mb-3">
                                <label for="input_fractal_dimension_worst" class="form-label">30. Fractal dimension largest</label>
                                <input type="number" class="form-control" name="input_fractal_dimension_worst" step="0.01" {% if input_d %} value="{{input_d.29}}" disabled {% endif %} required>
                            </div>
                    </row>
                </div>
            </div>
            <div class="row">
                <div class="col">
                            <button type="submit" class="btn btn-primary" formaction="/api/prediction/" {% if input_d %} disabled {% endif %}>Submit</button>
                            <a class="btn btn-dark" href="/api/index/">New Prediction</a>
                        </form>
                </div>
            </div>
        </div>
        <br>

        <!-- RESULTS CONTAINER -->
        <!-- IF NO PREDICTION IS REQUESTED YET, THEN THIS CONTAINER IS SHOWN -->
        {% if not display %}
        <div class="container-lg my-3 text-center rounded-circle">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg" style="background-color: var(--bs-primary-border-subtle)">
                <div class="col-lg p-3 p-lg-5 pt-lg-3 justify-content-center">
                    <h3>Once you type your patient's data and click on <i>Submit</i>,</h3>
                    <div class="row">
                        <div class="col">
                            <h5>the result will appear here.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}
        <!-- IF THE PREDICTION RETURNED IS 'BENIGN', THEN THIS CONTAINER IS SHOWN -->
        {% if display=='benign' %}
        <div class="container-lg my-3 text-center rounded-circle" id="here">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg" style="background-color: var(--bs-success-border-subtle)">
                <div class="col-lg p-3 p-lg-5 pt-lg-3 justify-content-center">
                    <h3>Based on the data you entered, the tumor seems <strong>benign</strong>:</h3><br>
                    <div class="row">
                        <div class="col text-start">
                            <p>It appears that your patient has nothing to worry about. All the measurements indicate that the tumor or mass is benign. Please remember to still keep an eye on your patient, follow up, and if you are still worried about something that isn't covered by this app, please follow the guidance of the Centers for Disease Control and Prevention (CDC).<br><br><i>To make a new prediction, please scroll up and click on the 'New Prediction' button.</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}
        <!-- IF THE PREDICTION RETURNED IS 'MALIGNANT', THEN THIS CONTAINER IS SHOWN -->
        {% if display=='malignant' %}
        <div class="container-lg my-3 text-center bg-danger rounded-3" id="here">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center shadow-lg">
                <div class="col-lg p-3 p-lg-5 pt-lg-3 text-light justify-content-center">
                    <h3>Based on the data you entered, the tumor seems <strong>malignant</strong>:</h3><br>
                    <div class="row">
                        <div class="col text-start">
                            <p>The measurements that you entered indicate that the tumor or mass contains cancerous cells! Please confirm this result with further testing by following the guidance of the Centers for Disease Control and Prevention (CDC) and follow up with the patient.<br><br>Just a tip: be on the look out especially for the following measurements in the following order: largest concave points, mean concave point, largest radius, largest perimeter, largest area, mean concavity, mean area, standard error of the area, mean radius, and largest concavity. They explain about 79% of our prediction, so a change in any of them could have devastating consequences.<br><br><i>To make a new prediction, please scroll up and click on the 'New Prediction' button.</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}

        <!-- FACT 2: MEN WITH BREAST CANCER -->
        <div class="container-lg my-3 rounded-circle">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg" style="--bs-danger-bg-subtle: pink; background-color: var(--bs-danger-bg-subtle);">
                <div class="col-sm-3 p-1 p-lg-4 center">
                    <img src="/static/images/male-icon.png" class="img-fluid" width="100" alt="">
                </div>
                <div class="col-lg p-2 p-lg-4 text-end">
                    <h3>Please remember to be mindful of your male patients:</h3>
                    <div class="row">
                        <div class="col">
                            <p>As you know, breast cancer affects both women and men, so it's okay for men to seek treatment and have a strong support system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!-- MODEL'S SCORE GRAPHS AND EXPLANATION OF THE SCORES-->
        <div class="container">
            <div class="row text-center">
                <h2>This is why you should trust our predictions:</h2>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div id="accuracy-gauge"></div>
                </div>
                <div class="col">
                    <h4>Our accuracy is 98%:</h4>
                    <p>Our Machine Learning model's general accuracy score is 98%. We ran two models, compared their performance, and chose the most accurate one. Accuracy represents the portion of predictions that our model got right. This means that our model correctly predicts 98 out of 100 tumors, so it is doing a great job! Many models cannot even reach 95% of accuracy. But we didn't stop at accuracy, we wanted more, which is why we also report the scores below.</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <div id="precision-benign-gauge"></div>
                    </div>
                    <div class="row">
                        <div id="precision-malignant-gauge"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>Our precision for benign tumors is 99%:</h4>
                    <p>That means that our model's precision is also really high! This score refers to the proportion of positive classifications <i>—or in our case 'benign' classifications—</i> our model made that were actually correct. Out of 100 real benign tumors, our model correctly predicts 99 of them, which is almost as high as you can go! However, the emphasis of our model was malignant tumors, and those are better explained by the next score: recall.</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <div id="recall-benign-gauge"></div>
                    </div>
                    <div class="row">
                        <div id="recall-malignant-gauge"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>Our recall score for malignant tumors is 98%!</h4>
                    <p>This score truly reflects how <strong>valuable</strong> our model is. Malignant tumors are the important tumors because they will drastically change your patient's life. We needed a model that overemphasized that importance because the costs of mis-classifying a <i>malignant tumor</i> as a <i>benign tumor</i> are unimaginable, way too high... It would be unacceptable to send home a patient with cancer instead of giving them the appropriate treatment. The recall score focuses on preventing that scenario: out of 100 malignant tumors, our model correctly predicts 98 of them, which is incredibly high! We trained a Machine Learning model that would get as high a recall as it was possible, and we got it. Now it's your turn to use it.</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <div id="f1-score-benign-gauge"></div>
                    </div>
                    <div class="row">
                        <div id="f1-score-malignant-gauge"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>Our F1-scores are 97% or higher:</h4>
                    <p>Looking at this score might be an overkill, sort of unnecessary, but we didn't want to leave any stone unturned. We say that because the F1-score is the harmonic mean of precision and recall, and it is normally used to define accuracy only when a model is trained with imbalanced data <i>—data that contained wildly different numbers of 'benign tumor' and 'malignant tumor' observations</i>. However, the data we used to train our model was balanced. Still, even the most pedantic critic, who believes that data should be perfectly balanced, will recognize that our F1-scores are really high and say goodbye to any doubts about our model. <strong>Our model works, it is accurate and precise, and it prioritizes finding <i>malignant tumors</i> over finding <i>benign tumors</i></strong>.</p>
                </div>
            </div>
        </div>

        <!-- FACT 3: THE 5-YEAR SURVIVAL RATE -->
        <div class="container-lg my-3 rounded-circle">
            <div class="row p-3 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg" style="--bs-danger-bg-subtle: pink; background-color: var(--bs-danger-bg-subtle);">
                <div class="col-sm-3 p-2 p-lg-4">
                    <img src="/static/images/hands-icon.png" class="img-fluid" width="100" alt="">
                </div>
                <div class="col-lg p-2 p-lg-4 text-end">
                    <h3>The survival rate has improved over the years:</h3>
                    <div class="row">
                        <div class="col">
                            <p>The 5-year relative survival rate for localized breast cancer is about 99%. Let's make it an even 100!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!-- AUTHORS' NAMES -->
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col text-center">
                    <p><i>2023 - <strong>Authors:</strong> Roberto Gerónimo Barrón Olvera, Luis Paul Garay Acosta, María José García Montes, and Daniel R. Murillo Antuna.</i>
                </div>
            </div>
        </div>

        <!-- IMPORTED CDNs AND LOADERS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- JAVASCRIPT FILE -->
        <script type="text/javascript" src="/static/js/graphs.js"></script>
        <!-- CREATED SCRIPT TO SCROLL THE PREDICTION RESULT CONTAINER INTO VIEW ONCE A PREDICTION IS RETURNED -->
        <script>
            const element = document.getElementById('here');
            element.scrollIntoView();
        </script>
    </body>
</html>